
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 30px;
    background-color: #2196F3;
    padding: 20px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
  }

  .ahreff{
    color: black;
  }

  .ahreff:hover{
    color: #2196F3;
  }

  .texth{
    text-decoration: underline;
  }

  .card{  
    box-shadow: 0 4px 8px 0 skyblue;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    }
    
  .web-btn{
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    background-color: blue;
   border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
  }

  .textt, .texth{
    color: black;
}

  .projectwork {
    box-shadow: 0 4px 8px 0 rgba(227, 227, 228, 0.2);
    transition: 0.3s;
    width: 90%;
  }

  